USE [Хранительпро]
GO
/****** Object:  Table [dbo].[документы]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[документы](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[заявка_id] [int] NULL,
	[тип] [nvarchar](50) NULL,
	[путь_к_файлу] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[заявки]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[заявки](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[пользователь_id] [int] NULL,
	[тип_id] [int] NULL,
	[статус_id] [int] NULL,
	[подразделение_id] [int] NULL,
	[сотрудник_id] [int] NULL,
	[дата_начала] [date] NOT NULL,
	[дата_окончания] [date] NOT NULL,
	[цель] [nvarchar](max) NOT NULL,
	[примечание] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[подразделения]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[подразделения](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[пользователи]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[пользователи](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[пароль] [nvarchar](255) NOT NULL,
	[дата_регистрации] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[посетители]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[посетители](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[заявка_id] [int] NULL,
	[фамилия] [nvarchar](100) NOT NULL,
	[имя] [nvarchar](100) NOT NULL,
	[отчество] [nvarchar](100) NULL,
	[телефон] [nvarchar](20) NULL,
	[email] [nvarchar](255) NOT NULL,
	[организация] [nvarchar](255) NULL,
	[дата_рождения] [date] NOT NULL,
	[серия_паспорта] [nvarchar](4) NOT NULL,
	[номер_паспорта] [nvarchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[посещения]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[посещения](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[посетитель_id] [int] NULL,
	[дата_входа] [datetime] NULL,
	[дата_выхода] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[сотрудники]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[сотрудники](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[фио] [nvarchar](255) NOT NULL,
	[подразделение_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[статусы_заявок]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[статусы_заявок](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](50) NOT NULL,
	[причина_отказа] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[типы_заявок]    Script Date: 15.04.2026 10:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[типы_заявок](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[пользователи] ADD  DEFAULT (getdate()) FOR [дата_регистрации]
GO
ALTER TABLE [dbo].[документы]  WITH CHECK ADD FOREIGN KEY([заявка_id])
REFERENCES [dbo].[заявки] ([id])
GO
ALTER TABLE [dbo].[заявки]  WITH CHECK ADD FOREIGN KEY([подразделение_id])
REFERENCES [dbo].[подразделения] ([id])
GO
ALTER TABLE [dbo].[заявки]  WITH CHECK ADD FOREIGN KEY([пользователь_id])
REFERENCES [dbo].[пользователи] ([id])
GO
ALTER TABLE [dbo].[заявки]  WITH CHECK ADD FOREIGN KEY([сотрудник_id])
REFERENCES [dbo].[сотрудники] ([id])
GO
ALTER TABLE [dbo].[заявки]  WITH CHECK ADD FOREIGN KEY([статус_id])
REFERENCES [dbo].[статусы_заявок] ([id])
GO
ALTER TABLE [dbo].[заявки]  WITH CHECK ADD FOREIGN KEY([тип_id])
REFERENCES [dbo].[типы_заявок] ([id])
GO
ALTER TABLE [dbo].[посетители]  WITH CHECK ADD FOREIGN KEY([заявка_id])
REFERENCES [dbo].[заявки] ([id])
GO
ALTER TABLE [dbo].[посещения]  WITH CHECK ADD FOREIGN KEY([посетитель_id])
REFERENCES [dbo].[посетители] ([id])
GO
ALTER TABLE [dbo].[сотрудники]  WITH CHECK ADD FOREIGN KEY([подразделение_id])
REFERENCES [dbo].[подразделения] ([id])
GO
